html {
    font-size: 1rem;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.3rem;
}
 
@media (min-width: 991px) {
    h1 {
        font-size: 2.3rem;
    }
}
 
@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}
body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(50,50,50) !important;
}
p {
    font-weight: 300;
    text-align: justify;
}
h2 {
    font-weight: 300;
}
h3 {
    font-weight: 300;
}
.navbar-brand {
    padding-top: 10px !important;
}
.nav-logo {
    height: 50px;
}
.text-primary {
    color: rgb(50,50,50) !important;
}
.text-secondary {
    color: rgb(63,176,121) !important;
}
.text-secondary svg {
    fill: currentColor !important;
}
.mono {
    font-family: 'Fira Mono', monospace !important;
}
.headline {
    font-family: 'Fira Mono', monospace !important;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
}
.subline {
    color: rgb(117,120,123);
}

.container {
    padding-top: 10em !important;
    padding-bottom: 10em !important;
}
.bg-light-hover:hover {
    background-color: #f8f9fa!important;
}
.container-team {
    background-image: url("./img/shutterstock_519773536-1-min.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5em;
    padding-top: 8em;
    padding-bottom: 8em;
}
.container-step-forward {
    background-image: url("./img/shutterstock_605291450-1-min.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5em;
    padding-top: 8em;
    padding-bottom: 8em;
}
.container-open-source {
    background-image: url("./img/computer-1873831_1280-min.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5em;
    padding-top: 8em;
    padding-bottom: 8em;
}
.container-partner {
    background-image: url("./img/shutterstock_744797698-1-min.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 8em;
    padding-bottom: 8em;
}
.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.9) !important;
}
.pointer {
    cursor: pointer;
}
.pt-10 {
    padding-top: 10%;
}
.fade-in-on-scroll {
    opacity: 0.0;
}
.no-padding {
    padding: unset !important;
}
.navbar-collapse {
    padding: 1em;
}
.col-partner {
    margin: 2%;
}
.footer {
    padding-top: 5em;
    padding-bottom: 5em;
}
a {
    color: grey;
}
a:hover {
    color: rgb(63,176,121);
}
@media (max-width: 991.98px) { 
    .navbar-collapse {
        background-color: white;
        padding: 2em;
    }
}
.modal-body {
    padding: 2rem;
}
.modal-header {
    padding-left: 2rem;
}
.h-100 {
    min-height: calc(100vh - 88px);
}
.bg-dark-ci {
    background-color: #031A1C !important;
}